body { 
  background-color: #fff; 
  color: #333; 
  margin:0;
}

.page_header {
  background-color: #000000;
  text-align:center;
  color:#99CCFF;
  border:solid 1px #000000;
}

h1[id="title"] {
 text-align:left;
}

.action {
  border:solid 1px #000000;
  text-align: center;
  width:90px;
  background-color:#99CCFF;
  padding:1px; 
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.action2 {
  border:solid 1px #000000;
  text-align: center;
  width: 75px;
  height: 20px;
  background-color:#99CCFF;
  padding:1px; 
  font-size: 18px;
  margin-right: 10px;
  float:left;
}

#search {
  float:right;
  margin-left:5px;
}

.actions {
  border:solid 1px #000000;
  text-align: center;
  width: 75px;
  height: 20px;
  background-color:#99CCFF;
  padding:1px; 
  font-size: 18px;
  margin-right: 10px;
}

.actions:hover {
  color: #fff; 
 background-color:#000;
}

input[type=submit] {
  border:none;
  background-color:#99CCFF;
  font-size: 16px;
  width: 75px;
}

input[type=submit]:hover {
  color: #fff; 
 background-color:#000;
}

#actions {
  width:100px;
}

.without_header {
  width:85%; 
  margin:0 auto;
  background-color: #EFEFEF;
  padding:35px;
}

#gist {
  border:solid 1px;
  padding:15px;
  margin-bottom:15px;
  padding-bottom:40px;
  font-size:1.2em;
}

#snippet {
  width:100%;
}

field {
  font-size:1.2em;
  text-align:center;
  padding-top:5px;
  padding-bottom:5px;
  background-color:#99CCFF;
  color:#ffffff;
}

pre {
  background-color: #000000;
  padding: 5px;
  font-size: 18px;
}

a { 
  text-decoration: none;
  color: #000000; 
}

a:hover { 
  text-decoration: none;
  color: #fff; 
}

div.field {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#infinite-scrolling {
  text-align: center;
  padding: 0.3em;
  cursor: default; 
}
  #infinite-scrolling a, #infinite-scrolling span, #infinite-scrolling em {
    padding: 0.2em 0.5em; 
  }
  #infinite-scrolling .disabled {
    color: #aaaaaa; 
  }
  #infinite-scrolling .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; 
  }
  #infinite-scrolling a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; 
  }
  #infinite-scrolling a:hover, #infinite-scrolling a:focus {
    border-color: #003366;
    background: #0063dc;
    color: white; 
  }
  #infinite-scrolling .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; 
  }
  #infinite-scrolling .previous_page, #infinite-scrolling .next_page {
    border-width: 2px; 
  }
  #infinite-scrolling .previous_page {
    margin-right: 1em; 
  }
  #infinite-scrolling .next_page {
    margin-left: 1em; 
  }

  